extends layout
block content

  div#header
    div.top

      div#logo
        span(class='image avatar48')
          img(src='/images/avatar.jpg', alt='')
        h1 FaceCast
        p Un site NodeJS
        nav#nav
          ul
            li
              a(href='/', id='top-link', class='icon fa-home') &nbsp;Accueil
          ul
            li
              a(href='/offers', id='songs-link', class='icon fa-users') &nbsp;Offres
          ul
            li
              a(href='/state', id='users-link', class='icon fa-star') &nbsp;Etat
          ul
            li
              a(href='/figurant', id='users-link', class='icon fa-user') &nbsp;Inscrits
    
    div.bottom
  
  div#main
    section(id='top', class='one dark cover')
      div.container
        header
          h2.alt FaceCast, site responsive en NodeJS
          br
        footer 