doctype html
html(lang='fr')
   head
      title= title
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='stylesheet', href='/assets/css/main.css')
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="/resources/demos/style.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      body
         div#header
            div#top
               div#logo
                  span(class='image avatar48')
                     img(src='images/avatar.jpg', alt='')
                  h1#title FaceCast
                  p Application NodeJS
                  nav#nav
                     ul
                        li
                           a(href='/', id='top-link', class='icon fa-home') &nbsp;Intro
                     ul
                        li
                           a(href='/offers', id='users-link', class='icon fa-users') &nbsp;Offres
                     ul
                        li
                           a(href='/state', id='users-link', class='icon fa-users') &nbsp;Etat
                     ul
                        li
                           a(href='/users', id='users-link', class='icon fa-user') &nbsp;Inscrits                    
         block content
         div#footer
            ul.copyright
               li &copy; Untitled. All rights reserved.
               li Design:
                  a(href="http://html5up.net") HTML5 UP
         script(src='/assets/js/jquery.min.js')
         script(src='/assets/js/jquery.scrolly.min.js')
         script(src='/assets/js/jquery.scrollzer.min.js')
         script(src='/assets/js/skel.min.js')
         script(src='/assets/js/util.js')
         script(src='/assets/js/main.js')